@model IEnumerable<CadaManage.Models.CadastralObject>
@{
    ViewBag.Title = "Кадастровые объекты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Кадастровые объекты</h3><hr />
    @if (!ViewContext.HttpContext.User.IsInRole("Customer"))
    {<a href="/CadastralObject/COCreate" class="btn btn-default btn-lg">Создать новый Кадастровый объект </a> }&emsp;
    <a href="/COType/ShowHandBookOfCOType" class="btn btn-default btn-lg">Справить типов кадастровых объектов</a>
    <br /><br />
    <table class="text-center table-bordered" border="1">
        <tr style="color:crimson">
            <td style="width: 2%;"><p><b>№</b></p></td>
            <td style="width: 10%;"><p><b>Тип</b></p></td>
            <td style="width: 8%;"><p><b>Номер</b></p></td>
            <td style="width: 10%;"><p><b>Дата постановки</b></p></td>
            <td style="width: 10%;"><p><b>Законный статус</b></p></td>
            <td style="width: 12%;"><p><b>Адресс</b></p></td>
            <td style="width: 8%;"><p><b>Площадь, м²</b></p></td>
            <td style="width: 10%;"><p><b>Стоимость, ₽</b></p></td>
            @if (!ViewContext.HttpContext.User.IsInRole("Customer"))
            {<td style="width: 13%;"><p><b>Опции</b></p></td>}
        </tr>
        @foreach (var m in Model.Reverse())
        {
            <tr>
                <td><p>@Html.DisplayFor(model => m.Id)</p></td>
                <td><p>@Html.DisplayFor(model => m.HandBookOfCOType.tHCOname)</p></td>
                <td><p>@Html.DisplayFor(model => m.cadastralNumber)</p></td>
                <td><p>@Html.ValueFor(model => m.dateOfEntry, "{0:dd/MM/yyyy}")</p></td>
                <td><p>@Html.DisplayFor(model => m.LegalStatus.lsName)</p></td>
                <td><p>@Html.DisplayFor(model => m.address)</p></td>
                <td><p>@Html.DisplayFor(model => m.square)</p></td>
                <td><p>@Html.DisplayFor(model => m.cost)</p></td>
                @if (!ViewContext.HttpContext.User.IsInRole("Customer"))
                {<td><p><a href="/CadastralObject/COEdit/@m.Id" class="btn btn-default btn-sm">Изменить</a>&emsp;
                    <a href="/CadastralObject/CODelete/@m.Id" class="btn btn-default btn-sm">Удалить</a></p></td>}
            </tr>
        }
    </table>
</div>