@model GerApp.Models.CadastreObjects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CadastreObjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request.RequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.RequestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeCadastre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCadastre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CadastreObjectsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
